In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
sns.set(rc={'figure.figsize':(8,5)})
import matplotlib.pyplot as plt
from scipy.stats import pearsonr, spearmanr
from tqdm import tqdm

In [2]:
!pwd

/Users/xtina/_thesis/github

In [3]:
native = pd.read_csv('../res_fin_df/result.native.llr.tsv')

In [4]:
native

       uniprot_id    row column esm1b_score
0      SPG1_STRSG    M 1      K     -11.863
1      SPG1_STRSG    M 1      R     -12.641
2      SPG1_STRSG    M 1      H     -13.986
3      SPG1_STRSG    M 1      E     -12.651
4      SPG1_STRSG    M 1      D     -13.895
...           ...    ...    ...         ...
94460  UBC9_HUMAN  S 158      M      -6.105
94461  UBC9_HUMAN  S 158      P      -5.471
94462  UBC9_HUMAN  S 158      Y      -8.809
94463  UBC9_HUMAN  S 158      F      -8.385
94464  UBC9_HUMAN  S 158      W     -11.369

[94465 rows x 4 columns]

In [5]:
native['esm1b_score'] = pd.to_numeric(native['esm1b_score'], errors='coerce')

# UBC9

In [6]:
ubc9 = pd.read_csv('../res_fin_df/ubc9_all.tsv', sep='\t')

In [7]:
ubc9

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Pos.A,AA1.A,AA2.A,Score.A,Score.A',Score.Delta,Score.C.Esm1b,Score.A.Esm1b,Score.A'.Esm1b
0,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,11,Q,R,-0.024,2.374,2.398,-15.547,-15.511,-14.746
1,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,35,T,S,0.227,4.192,3.965,-15.547,-3.996,-4.168
2,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,59,K,W,0.301,0.000,-0.301,-15.547,-19.458,-19.179
3,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,74,K,E,0.534,3.884,3.350,-15.547,-14.173,-13.888
4,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,74,K,R,0.121,1.863,1.742,-15.547,-10.854,-10.748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,33,D,N,-1.588,-0.814,0.774,-5.471,-8.864,-8.941
2298,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,66,D,G,-0.606,-1.232,-0.626,-5.471,-11.663,-11.721
2299,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,74,K,R,0.121,0.150,0.029,-5.471,-10.854,-10.911
2300,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,89,S,P,-0.786,-1.223,-0.437,-5.471,-15.948,-15.995
2301,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,103,W,H,-2.099,-4.257,-2.158,-5.471,-17.652,-17.757

In [11]:
print('the number of None in Score.C.Esm1b:', ubc9['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', ubc9['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", ubc9["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 0
the number of None in Score.A.Esm1b: 0
the number of None in Score.A'.Esm1b: 0

# YAP1

In [12]:
yap1 = pd.read_csv('../res_fin_df/yap1_all.tsv', sep='\t')

In [16]:
yap1.head(5)

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Pos.A,AA1.A,AA2.A,Score.A,Score.A',Score.Delta,Score.C.Esm1b,Score.A.Esm1b,Score.A'.Esm1b
0,maveDB_4,YAP1_HUMAN,170,D,A,0.829,171,V,A,0.487,0.260,-0.227,-6.853,-8.357,-7.505
1,maveDB_4,YAP1_HUMAN,170,D,A,0.829,171,V,D,1.135,0.349,-0.786,-6.853,-12.973,-11.064
2,maveDB_4,YAP1_HUMAN,170,D,A,0.829,171,V,F,0.133,-0.080,-0.213,-6.853,-7.027,-8.495
3,maveDB_4,YAP1_HUMAN,170,D,A,0.829,171,V,G,1.193,0.418,-0.775,-6.853,-11.535,-9.646
4,maveDB_4,YAP1_HUMAN,170,D,A,0.829,171,V,I,0.291,0.551,0.260,-6.853,-2.067,-3.015

In [17]:
yap1.tail(5)

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Pos.A,AA1.A,AA2.A,Score.A,Score.A',Score.Delta,Score.C.Esm1b,Score.A.Esm1b,Score.A'.Esm1b
38715,maveDB_4,YAP1_HUMAN,203,R,Y,-2.071,171,V,F,0.133,1.038,0.905,-17.358,-7.027,-6.896
38716,maveDB_4,YAP1_HUMAN,203,R,Y,-2.071,175,A,G,-0.350,1.690,2.040,-17.358,-8.924,-8.778
38717,maveDB_4,YAP1_HUMAN,203,R,Y,-2.071,194,D,N,0.902,1.210,0.308,-17.358,-4.451,-4.550
38718,maveDB_4,YAP1_HUMAN,203,R,Y,-2.071,196,T,A,-0.875,1.534,2.409,-17.358,-12.306,-12.544
38719,maveDB_4,YAP1_HUMAN,203,R,Y,-2.071,197,T,S,-1.042,1.287,2.329,-17.358,-11.770,-11.821

In [13]:
print('the number of None in Score.C.Esm1b:', yap1['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', yap1['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", yap1["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 0
the number of None in Score.A.Esm1b: 0
the number of None in Score.A'.Esm1b: 0

# PABP

In [14]:
pabp = pd.read_csv('../res_fin_df/pabp_all.tsv', sep='\t')

In [15]:
print('the number of None in Score.C.Esm1b:', pabp['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', pabp['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", pabp["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 0
the number of None in Score.A.Esm1b: 0
the number of None in Score.A'.Esm1b: 0

# UBE4B

In [16]:
ube4b = pd.read_csv('../res_fin_df/ube4b_all.tsv', sep='\t')

In [17]:
print('the number of None in Score.C.Esm1b:', ube4b['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', ube4b['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", ube4b["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 0
the number of None in Score.A.Esm1b: 0
the number of None in Score.A'.Esm1b: 0

# BRCA1_db6

In [18]:
brca1_db6 = pd.read_csv('../res_fin_df/brca1_db6_all.tsv', sep='\t')

In [19]:
brca1_db6['Protein'] = brca1_db6['Protein'].astype(str) + '_db6'

In [20]:
print('the number of None in Score.C.Esm1b:', brca1_db6['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', brca1_db6['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", brca1_db6["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 43
the number of None in Score.A.Esm1b: 43
the number of None in Score.A'.Esm1b: 86

# BRCA1_db8

In [21]:
brca1_db8 = pd.read_csv('../res_fin_df/brca1_db8_all.tsv', sep='\t')

In [22]:
brca1_db8['Protein'] = brca1_db8['Protein'].astype(str) + '_db8'

In [23]:
print('the number of None in Score.C.Esm1b:', brca1_db8['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', brca1_db8['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", brca1_db8["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 76
the number of None in Score.A.Esm1b: 76
the number of None in Score.A'.Esm1b: 152

# SPG1

In [24]:
spg1 = pd.read_csv('../res_fin_df/spg1_all.tsv', sep='\t')

In [25]:
print('the number of None in Score.C.Esm1b:', spg1['Score.C.Esm1b'].isna().sum())
print('the number of None in Score.A.Esm1b:', spg1['Score.A.Esm1b'].isna().sum())
print("the number of None in Score.A'.Esm1b:", spg1["Score.A'.Esm1b"].isna().sum())

the number of None in Score.C.Esm1b: 19484
the number of None in Score.A.Esm1b: 19484
the number of None in Score.A'.Esm1b: 38968

# Общий датасет

In [26]:
data = pd.concat([ubc9, yap1, pabp, ube4b, brca1_db6, brca1_db8, spg1], ignore_index=True)

In [27]:
data.shape

(1302406, 15)

In [28]:
data = data.dropna()

In [29]:
data = data[data["Score.A'"] != -np.inf]

In [30]:
data.isna().any()

#Dataset          False
Protein           False
Pos.C             False
AA1.C             False
AA2.C             False
Score.C           False
Pos.A             False
AA1.A             False
AA2.A             False
Score.A           False
Score.A'          False
Score.Delta       False
Score.C.Esm1b     False
Score.A.Esm1b     False
Score.A'.Esm1b    False
dtype: bool

In [31]:
data.shape

(1263024, 15)

Score.Delta = Epsilon = Sac - Sa - Sc = Sa' - Sa

In [32]:
data['Score.Delta.Esm1b'] = data["Score.A'.Esm1b"] - data["Score.A.Esm1b"]

In [33]:
data

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Pos.A,AA1.A,AA2.A,Score.A,Score.A',Score.Delta,Score.C.Esm1b,Score.A.Esm1b,Score.A'.Esm1b,Score.Delta.Esm1b
0,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,11,Q,R,-0.024,2.374,2.398,-15.547,-15.511,-14.746,0.765
1,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,35,T,S,0.227,4.192,3.965,-15.547,-3.996,-4.168,-0.172
2,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,59,K,W,0.301,0.000,-0.301,-15.547,-19.458,-19.179,0.279
3,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,74,K,E,0.534,3.884,3.350,-15.547,-14.173,-13.888,0.285
4,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,74,K,R,0.121,1.863,1.742,-15.547,-10.854,-10.748,0.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302401,maveDB_15,SPG1_STRSG,282,E,Y,-2.396,281,T,R,-0.088,-0.126,-0.038,-6.880,-9.995,-9.878,0.117
1302402,maveDB_15,SPG1_STRSG,282,E,Y,-2.396,281,T,S,-0.252,-0.310,-0.058,-6.880,-6.539,-6.111,0.428
1302403,maveDB_15,SPG1_STRSG,282,E,Y,-2.396,281,T,V,-0.580,-0.515,0.065,-6.880,-7.426,-7.445,-0.019
1302404,maveDB_15,SPG1_STRSG,282,E,Y,-2.396,281,T,W,-0.326,-0.796,-0.470,-6.880,-12.203,-12.389,-0.186
1302405,maveDB_15,SPG1_STRSG,282,E,Y,-2.396,281,T,Y,-0.593,-0.964,-0.371,-6.880,-9.235,-9.542,-0.307

In [34]:
# spearmanr
corr_sa_sa_sp = pd.DataFrame(columns=[data.Protein.unique()], index=['spearmanr', 'p_value'])

for prot in data.Protein.unique():
    corr_res, p_value = spearmanr(data[data['Protein'] == prot]["Score.A'"], data[data['Protein'] == prot]["Score.A'.Esm1b"])
    corr_sa_sa_sp.loc['spearmanr', prot] = corr_res
    corr_sa_sa_sp.loc['p_value', prot] = p_value

corr_sa_sa_sp

,UBC9_HUMAN,YAP1_HUMAN,PABP_YEAST,UBE4B_MOUSE,BRCA1_HUMAN_db6,BRCA1_HUMAN_db8,SPG1_STRSG
spearmanr,0.260058,0.368128,0.579448,0.196732,0.078098,0.045754,0.2218
p_value,0.0,0.0,0.0,0.0,0.0,0.000031,0.0

In [35]:
corr_delta_delta_sp = pd.DataFrame(columns=[data.Protein.unique()], index=['spearmanr', 'p_value'])

for prot in data.Protein.unique():
    corr_res, p_value = spearmanr(data[data['Protein'] == prot]["Score.Delta"], data[data['Protein'] == prot]["Score.Delta.Esm1b"])
    corr_delta_delta_sp.loc['spearmanr', prot] = corr_res
    corr_delta_delta_sp.loc['p_value', prot] = p_value

corr_delta_delta_sp

,UBC9_HUMAN,YAP1_HUMAN,PABP_YEAST,UBE4B_MOUSE,BRCA1_HUMAN_db6,BRCA1_HUMAN_db8,SPG1_STRSG
spearmanr,-0.040485,0.090696,0.049232,0.012857,0.045305,-0.019509,0.022199
p_value,0.052115,0.0,0.0,0.000034,0.00325,0.075988,0.0

# SHIFTS

In [36]:
shifts = pd.read_csv("../data/shifts.ave.tsv", sep='\t')

### UBC9_HUMAN

In [37]:
shifts[(shifts.Protein == 'UBC9_HUMAN') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
3401,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,11,1.963,1.148,1.742
3404,maveDB_2,UBC9_HUMAN,2,S,T,-0.526,5,0.217,0.715,0.526
3454,maveDB_2,UBC9_HUMAN,3,G,R,-2.278,5,1.101,2.152,0.361
3515,maveDB_2,UBC9_HUMAN,4,I,T,-2.265,5,2.601,2.877,1.201
3555,maveDB_2,UBC9_HUMAN,5,A,G,0.051,6,0.285,0.341,0.156
...,...,...,...,...,...,...,...,...,...,...
3337,maveDB_2,UBC9_HUMAN,151,Q,R,-4.322,7,2.533,2.646,1.511
3348,maveDB_2,UBC9_HUMAN,153,K,R,-0.039,6,1.043,1.293,0.497
3350,maveDB_2,UBC9_HUMAN,154,K,E,-0.531,5,0.529,1.404,0.985
3355,maveDB_2,UBC9_HUMAN,155,F,L,-0.868,8,-0.301,1.509,-0.996
3372,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,7,-0.160,1.130,-0.437

In [38]:
def std(x): 
    return np.std(x, ddof=0)

In [39]:
ubc9_shift = data[data.Protein == 'UBC9_HUMAN'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
ubc9_shift.columns = ubc9_shift.columns.map('.'.join).str.strip('.')
ubc9_shift = ubc9_shift[ubc9_shift['Protein.count'] >= 5].round(3)

In [40]:
ubc9_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
0,2,S,L,-15.547,1.963,1.148,0.121,0.261,11
3,2,S,T,-10.727,0.217,0.715,0.106,0.066,5
6,3,G,R,-15.027,1.101,2.152,0.128,0.121,5
12,4,I,T,-11.373,2.601,2.877,0.114,0.173,5
14,5,A,G,-10.126,0.285,0.341,-0.073,0.319,6
...,...,...,...,...,...,...,...,...,...
934,151,Q,R,-16.953,2.533,2.646,0.186,0.173,7
945,153,K,R,-3.810,1.043,1.293,0.014,0.048,6
947,154,K,E,-14.412,0.529,1.404,0.064,0.122,5
952,155,F,L,-10.453,-0.301,1.509,0.136,0.373,8
969,158,S,P,-5.471,-0.160,1.130,-0.056,0.035,7

In [41]:
shifts[(shifts.Protein == 'UBC9_HUMAN') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
3401,maveDB_2,UBC9_HUMAN,2,S,L,-4.322,11,1.963,1.148,1.742
3404,maveDB_2,UBC9_HUMAN,2,S,T,-0.526,5,0.217,0.715,0.526
3454,maveDB_2,UBC9_HUMAN,3,G,R,-2.278,5,1.101,2.152,0.361
3515,maveDB_2,UBC9_HUMAN,4,I,T,-2.265,5,2.601,2.877,1.201
3555,maveDB_2,UBC9_HUMAN,5,A,G,0.051,6,0.285,0.341,0.156
...,...,...,...,...,...,...,...,...,...,...
3337,maveDB_2,UBC9_HUMAN,151,Q,R,-4.322,7,2.533,2.646,1.511
3348,maveDB_2,UBC9_HUMAN,153,K,R,-0.039,6,1.043,1.293,0.497
3350,maveDB_2,UBC9_HUMAN,154,K,E,-0.531,5,0.529,1.404,0.985
3355,maveDB_2,UBC9_HUMAN,155,F,L,-0.868,8,-0.301,1.509,-0.996
3372,maveDB_2,UBC9_HUMAN,158,S,P,-0.065,7,-0.160,1.130,-0.437

In [43]:
print('corr_epsilon_mean:', spearmanr(ubc9_shift["Score.Delta.mean"], ubc9_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(ubc9_shift["Score.Delta.std"], ubc9_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=-0.09782906464899223, pvalue=0.2644395628950054)
corr_epsilon_std: SignificanceResult(statistic=0.18709585689796382, pvalue=0.031703495145118776)

### YAP1

In [44]:
shifts[(shifts.Protein == 'YAP1_HUMAN') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
3867,maveDB_4,YAP1_HUMAN,170,D,A,0.829,191,-0.472,0.481,-0.437
3868,maveDB_4,YAP1_HUMAN,170,D,E,0.636,217,-0.316,0.452,-0.322
3870,maveDB_4,YAP1_HUMAN,170,D,G,0.806,193,-0.492,0.418,-0.491
3871,maveDB_4,YAP1_HUMAN,170,D,H,0.061,197,-0.116,0.459,-0.111
3873,maveDB_4,YAP1_HUMAN,170,D,K,1.209,11,-0.431,0.719,-0.153
...,...,...,...,...,...,...,...,...,...,...
4246,maveDB_4,YAP1_HUMAN,203,R,S,-1.770,187,0.639,0.948,0.643
4239,maveDB_4,YAP1_HUMAN,203,R,G,-1.908,188,0.685,0.983,0.801
4236,maveDB_4,YAP1_HUMAN,203,R,C,-1.851,194,0.595,1.031,0.680
4240,maveDB_4,YAP1_HUMAN,203,R,H,-1.932,200,0.731,0.983,0.680
4248,maveDB_4,YAP1_HUMAN,203,R,Y,-2.071,5,1.598,0.840,2.040

In [45]:
yap1_shift = data[data.Protein == 'YAP1_HUMAN'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
yap1_shift.columns = yap1_shift.columns.map('.'.join).str.strip('.')
yap1_shift = yap1_shift[yap1_shift['Protein.count'] >= 5].round(3)
yap1_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
0,170,D,A,-6.853,-0.472,0.481,0.174,0.455,191
1,170,D,E,-4.091,-0.316,0.452,-0.016,0.105,217
3,170,D,G,-7.014,-0.492,0.418,0.222,0.530,193
4,170,D,H,-6.759,-0.116,0.459,0.128,0.354,197
6,170,D,K,-11.225,-0.431,0.719,0.428,0.758,11
...,...,...,...,...,...,...,...,...,...
373,203,R,H,-13.160,0.731,0.983,0.115,0.367,200
375,203,R,L,-15.320,0.708,0.962,0.256,0.857,190
377,203,R,P,-18.155,0.794,1.127,0.544,1.528,163
379,203,R,S,-14.666,0.639,0.948,0.549,0.872,187
381,203,R,Y,-17.358,1.598,0.840,-0.022,0.145,5

In [46]:
print('corr_epsilon_mean:', spearmanr(yap1_shift["Score.Delta.mean"], yap1_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(yap1_shift["Score.Delta.std"], yap1_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=0.1391618969783773, pvalue=0.03573077918875671)
corr_epsilon_std: SignificanceResult(statistic=0.4063014951079061, pvalue=1.7873886502594228e-10)

### PABP

In [47]:
shifts[(shifts.Protein == 'PABP_YEAST') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
795,maveDB_14,PABP_YEAST,126,G,A,-0.491,143,-0.314,0.624,-0.214
796,maveDB_14,PABP_YEAST,126,G,C,-1.155,115,-0.378,0.746,-0.272
797,maveDB_14,PABP_YEAST,126,G,D,-2.121,121,-0.349,0.889,-0.364
798,maveDB_14,PABP_YEAST,126,G,R,-1.673,89,-0.202,0.777,-0.219
799,maveDB_14,PABP_YEAST,126,G,S,-0.470,117,-0.286,0.645,-0.261
...,...,...,...,...,...,...,...,...,...,...
1843,maveDB_14,PABP_YEAST,200,P,A,0.032,120,-0.184,0.491,-0.098
1846,maveDB_14,PABP_YEAST,200,P,H,0.044,110,-0.218,0.545,-0.231
1847,maveDB_14,PABP_YEAST,200,P,L,-0.014,114,-0.310,0.925,-0.142
1848,maveDB_14,PABP_YEAST,200,P,R,0.181,134,-0.131,0.385,-0.144
1850,maveDB_14,PABP_YEAST,200,P,T,0.008,96,-0.293,0.741,-0.100

In [48]:
pabp_shift = data[data.Protein == 'PABP_YEAST'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
pabp_shift.columns = pabp_shift.columns.map('.'.join).str.strip('.')
pabp_shift = pabp_shift[pabp_shift['Protein.count'] >= 5].round(3)
pabp_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
0,126,G,A,-7.265,-0.314,0.624,-0.002,0.209,143
1,126,G,C,-10.440,-0.378,0.746,0.119,0.274,115
2,126,G,D,-10.703,-0.349,0.889,0.155,0.365,121
3,126,G,R,-12.080,-0.202,0.777,0.165,0.375,89
4,126,G,S,-8.131,-0.286,0.645,0.088,0.433,117
...,...,...,...,...,...,...,...,...,...
1051,200,P,H,-3.596,-0.218,0.545,0.025,0.300,110
1052,200,P,L,-6.595,-0.310,0.925,0.007,0.267,114
1053,200,P,R,-3.163,-0.131,0.385,0.025,0.492,134
1054,200,P,S,-5.527,-0.266,0.632,-0.030,0.193,112
1055,200,P,T,-5.948,-0.293,0.741,-0.011,0.185,96

In [49]:
print('corr_epsilon_mean:', spearmanr(pabp_shift["Score.Delta.mean"], pabp_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(pabp_shift["Score.Delta.std"], pabp_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=-0.01901961539864214, pvalue=0.5953725158061092)
corr_epsilon_std: SignificanceResult(statistic=0.1658131052314067, pvalue=3.135614337020626e-06)

### UBE4B

In [50]:
shifts[(shifts.Protein == 'UBE4B_MOUSE') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
1,maveDB_13,UBE4B_MOUSE,1072,I,K,-0.140,165,-0.217,0.766,-0.163
2,maveDB_13,UBE4B_MOUSE,1072,I,L,-0.497,364,-0.028,0.707,-0.004
3,maveDB_13,UBE4B_MOUSE,1072,I,M,-0.155,244,-0.358,0.773,-0.418
4,maveDB_13,UBE4B_MOUSE,1072,I,R,-0.250,168,-0.258,0.760,-0.237
6,maveDB_13,UBE4B_MOUSE,1072,I,T,-0.323,151,-0.283,0.742,-0.237
...,...,...,...,...,...,...,...,...,...,...
792,maveDB_13,UBE4B_MOUSE,1173,H,R,-0.099,216,-0.226,0.595,-0.278
788,maveDB_13,UBE4B_MOUSE,1173,H,L,-0.163,278,-0.176,0.619,-0.135
786,maveDB_13,UBE4B_MOUSE,1173,H,D,0.448,207,-0.744,0.740,-0.668
789,maveDB_13,UBE4B_MOUSE,1173,H,N,-0.008,193,-0.184,0.660,-0.218
794,maveDB_13,UBE4B_MOUSE,1173,H,Y,0.002,278,-0.285,0.670,-0.279

In [51]:
ube4b_shift = data[data.Protein == 'UBE4B_MOUSE'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
ube4b_shift.columns = ube4b_shift.columns.map('.'.join).str.strip('.')
ube4b_shift = ube4b_shift[ube4b_shift['Protein.count'] >= 5].round(3)
ube4b_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
1,1072,I,K,-16.571,-0.217,0.766,0.165,0.420,165
2,1072,I,L,-9.645,-0.028,0.707,0.054,0.140,364
3,1072,I,M,-11.118,-0.358,0.773,0.057,0.127,244
4,1072,I,R,-17.007,-0.258,0.760,0.159,0.410,168
6,1072,I,T,-11.637,-0.283,0.742,0.108,0.307,151
...,...,...,...,...,...,...,...,...,...
789,1173,H,N,-2.521,-0.184,0.660,0.014,0.087,193
790,1173,H,P,-2.844,-0.070,0.652,0.004,0.112,275
791,1173,H,Q,-2.780,-0.012,0.717,-0.017,0.088,326
792,1173,H,R,-2.686,-0.226,0.595,-0.026,0.127,216
794,1173,H,Y,-4.506,-0.285,0.670,0.012,0.097,278

In [52]:
print('corr_epsilon_mean:', spearmanr(ube4b_shift["Score.Delta.mean"], ube4b_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(ube4b_shift["Score.Delta.std"], ube4b_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=0.0034279932894793895, pvalue=0.9335559850775061)
corr_epsilon_std: SignificanceResult(statistic=0.27177975488302036, pvalue=1.6156521797075187e-11)

### BRCA1_db6

In [53]:
shifts[(shifts['#Dataset'] == 'maveDB_6') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
4916,maveDB_6,BRCA1_HUMAN,2,D,N,-1.127,11,0.904,1.003,0.693
4917,maveDB_6,BRCA1_HUMAN,2,D,Y,-0.046,14,0.585,1.442,-0.148
5637,maveDB_6,BRCA1_HUMAN,4,S,F,0.096,7,-0.303,1.154,-0.195
5641,maveDB_6,BRCA1_HUMAN,4,S,Y,-1.351,11,2.064,1.498,2.077
5692,maveDB_6,BRCA1_HUMAN,5,A,T,-0.336,15,0.606,0.895,0.360
...,...,...,...,...,...,...,...,...,...,...
5517,maveDB_6,BRCA1_HUMAN,299,V,I,0.450,15,0.020,0.900,0.209
5530,maveDB_6,BRCA1_HUMAN,300,E,K,-0.334,18,0.657,1.211,0.350
5537,maveDB_6,BRCA1_HUMAN,302,A,T,1.128,30,-0.066,1.152,0.020
5540,maveDB_6,BRCA1_HUMAN,303,E,K,0.877,14,-0.401,0.893,-0.598
5543,maveDB_6,BRCA1_HUMAN,304,F,S,0.712,10,0.527,0.976,0.348

In [54]:
brca1_6_shift = data[data.Protein == 'BRCA1_HUMAN_db6'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
brca1_6_shift.columns = brca1_6_shift.columns.map('.'.join).str.strip('.')
brca1_6_shift = brca1_6_shift[brca1_6_shift['Protein.count'] >= 5].round(3)
brca1_6_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
1,2,D,N,-5.744,0.904,1.003,0.026,0.064,11
2,2,D,Y,-9.361,0.586,1.442,0.048,0.113,14
7,4,S,F,-9.402,-0.303,1.154,0.006,0.021,7
11,4,S,Y,-10.529,2.064,1.498,0.014,0.207,11
16,5,A,T,-4.611,0.606,0.895,0.001,0.032,15
...,...,...,...,...,...,...,...,...,...
1708,299,V,I,-3.505,0.020,0.900,-0.001,0.008,15
1712,300,E,K,-3.895,0.657,1.211,-0.002,0.016,18
1719,302,A,T,-2.901,-0.066,1.152,0.001,0.006,30
1722,303,E,K,-4.081,-0.401,0.893,0.004,0.016,14
1725,304,F,S,-2.181,0.527,0.976,0.000,0.014,10

In [55]:
print('corr_epsilon_mean:', spearmanr(brca1_6_shift["Score.Delta.mean"], brca1_6_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(brca1_6_shift["Score.Delta.std"], brca1_6_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=0.09650717407772912, pvalue=0.16656694068756392)
corr_epsilon_std: SignificanceResult(statistic=-0.005897064864913928, pvalue=0.932793306334236)

### BRCA1_db8

In [56]:
shifts[(shifts['#Dataset'] == 'maveDB_8') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
6850,maveDB_8,BRCA1_HUMAN,2,D,Y,0.173,26,-0.164,0.912,0.186
6849,maveDB_8,BRCA1_HUMAN,2,D,N,-0.138,12,-0.275,0.962,0.148
7851,maveDB_8,BRCA1_HUMAN,4,S,F,0.353,10,-0.328,0.951,-0.197
7859,maveDB_8,BRCA1_HUMAN,4,S,Y,-0.037,14,-0.138,0.988,0.218
7981,maveDB_8,BRCA1_HUMAN,5,A,T,0.066,35,0.011,1.067,0.208
...,...,...,...,...,...,...,...,...,...,...
7692,maveDB_8,BRCA1_HUMAN,302,A,D,-0.346,7,0.723,0.360,0.648
7693,maveDB_8,BRCA1_HUMAN,302,A,T,-0.031,37,-0.068,1.027,0.051
7697,maveDB_8,BRCA1_HUMAN,303,E,K,0.030,15,0.104,0.748,0.240
7699,maveDB_8,BRCA1_HUMAN,304,F,L,-0.381,7,-0.195,0.346,-0.389
7700,maveDB_8,BRCA1_HUMAN,304,F,S,-0.956,6,-0.137,0.542,-0.305

In [57]:
brca1_8_shift = data[data.Protein == 'BRCA1_HUMAN_db8'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
brca1_8_shift.columns = brca1_8_shift.columns.map('.'.join).str.strip('.')
brca1_8_shift = brca1_8_shift[brca1_8_shift['Protein.count'] >= 5].round(3)
brca1_8_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
1,2,D,N,-5.744,-0.275,0.962,-0.038,0.202,12
2,2,D,Y,-9.361,-0.164,0.912,-0.007,0.214,26
10,4,S,F,-9.402,-0.328,0.951,0.037,0.055,10
18,4,S,Y,-10.529,-0.138,0.988,0.116,0.265,14
24,5,A,S,-3.497,0.227,1.642,0.011,0.043,7
...,...,...,...,...,...,...,...,...,...
2474,302,A,D,-3.369,0.723,0.360,-0.001,0.013,7
2475,302,A,T,-2.901,-0.068,1.027,0.000,0.007,37
2479,303,E,K,-4.081,0.104,0.748,0.007,0.022,15
2481,304,F,L,-2.354,-0.195,0.346,-0.005,0.006,7
2482,304,F,S,-2.181,-0.137,0.542,-0.005,0.008,6

In [58]:
print('corr_epsilon_mean:', spearmanr(brca1_8_shift["Score.Delta.mean"], brca1_8_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(brca1_8_shift["Score.Delta.std"], brca1_8_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=0.03313987484566828, pvalue=0.4477467022199222)
corr_epsilon_std: SignificanceResult(statistic=-0.021070691424566634, pvalue=0.6293698869477504)

### SPG1

In [59]:
shifts[(shifts.Protein == 'SPG1_STRSG') & (shifts['Counts.E'] >= 5)].sort_values('Pos.C')

,#Dataset,Protein,Pos.C,AA1.C,AA2.C,Score.C,Counts.E,Ave.E,StDev.E,Median.E
1852,maveDB_15,SPG1_STRSG,228,Q,A,0.602,1026,-0.289,0.763,-0.269
1870,maveDB_15,SPG1_STRSG,228,Q,Y,0.478,1025,-0.098,0.675,-0.200
1869,maveDB_15,SPG1_STRSG,228,Q,W,0.542,1023,0.019,0.852,-0.181
1868,maveDB_15,SPG1_STRSG,228,Q,V,0.234,1025,-0.173,0.755,-0.228
1867,maveDB_15,SPG1_STRSG,228,Q,T,0.406,1026,-0.201,0.581,-0.209
...,...,...,...,...,...,...,...,...,...,...
2879,maveDB_15,SPG1_STRSG,282,E,C,-2.272,1022,0.451,1.570,-0.066
2878,maveDB_15,SPG1_STRSG,282,E,A,-1.708,1023,0.090,1.139,-0.155
2895,maveDB_15,SPG1_STRSG,282,E,W,-1.732,1025,0.317,1.307,-0.047
2886,maveDB_15,SPG1_STRSG,282,E,L,-2.868,1019,0.481,1.581,0.097
2896,maveDB_15,SPG1_STRSG,282,E,Y,-2.396,1017,0.409,1.626,-0.059

In [60]:
spg1_shift = data[data.Protein == 'BRCA1_HUMAN_db6'].groupby(['Pos.C', 'AA1.C', 'AA2.C'], as_index=False).agg({'Score.C.Esm1b': 'mean', 'Score.Delta': ['mean', std], 'Score.Delta.Esm1b': ['mean', std], 'Protein': 'count'})
spg1_shift.columns = spg1_shift.columns.map('.'.join).str.strip('.')
spg1_shift = spg1_shift[spg1_shift['Protein.count'] >= 5].round(3)
spg1_shift

,Pos.C,AA1.C,AA2.C,Score.C.Esm1b.mean,Score.Delta.mean,Score.Delta.std,Score.Delta.Esm1b.mean,Score.Delta.Esm1b.std,Protein.count
1,2,D,N,-5.744,0.904,1.003,0.026,0.064,11
2,2,D,Y,-9.361,0.586,1.442,0.048,0.113,14
7,4,S,F,-9.402,-0.303,1.154,0.006,0.021,7
11,4,S,Y,-10.529,2.064,1.498,0.014,0.207,11
16,5,A,T,-4.611,0.606,0.895,0.001,0.032,15
...,...,...,...,...,...,...,...,...,...
1708,299,V,I,-3.505,0.020,0.900,-0.001,0.008,15
1712,300,E,K,-3.895,0.657,1.211,-0.002,0.016,18
1719,302,A,T,-2.901,-0.066,1.152,0.001,0.006,30
1722,303,E,K,-4.081,-0.401,0.893,0.004,0.016,14
1725,304,F,S,-2.181,0.527,0.976,0.000,0.014,10

In [61]:
print('corr_epsilon_mean:', spearmanr(spg1_shift["Score.Delta.mean"], spg1_shift['Score.Delta.Esm1b.mean']))
print('corr_epsilon_std:', spearmanr(spg1_shift["Score.Delta.std"], spg1_shift['Score.Delta.Esm1b.std']))

corr_epsilon_mean: SignificanceResult(statistic=0.09650717407772912, pvalue=0.16656694068756392)
corr_epsilon_std: SignificanceResult(statistic=-0.005897064864913928, pvalue=0.932793306334236)